
.manuli-logo {
  width: 3rem;
  margin-right: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.nav-link {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: #191919;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 15px;
}

.nav-link:hover {
  background-color: rgba(26, 27, 29, 0.5)
}

.active-nav-link {
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: #191919;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 15px;
}


.active-nav-link:hover {
  background-color: rgba(26, 27, 29, 0.5)
}

.nav-menu-container {
  display: flex; 
  flex: 1;
  flex-direction: column; 
  align-items: flex-end;
  margin-right: 5%;
  padding-top: 4rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  font-size: larger;
}

.profile-icon, .search-icon, .logout-icon, .home-icon {
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1rem;
}

.icon-attribution {
  margin-top: auto;
}