
.StartPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ImageContainer {
  min-width: 45%;
  display: flex;
  justify-content: right;
  align-items: center;
  box-sizing: border-box;
}

.PageContent {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100%;
  width: 33%;
  text-align: center;
}

.Title {
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
}

.BottomPadding {
  height: 50%;
}
