
.StartPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.PageContent {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100%;
  text-align: center;
  margin-right: 25rem;
  margin-left: 5rem;
}

.Title {
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  margin-top: 30vh;
}

.OutletContainer {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}


.signIn, .signUp {
  color: #168dc0;
}

.signIn:hover, .signUp:hover {
  text-decoration: underline;
}


.manuli-img {
  border-radius: 10px;
}

.manuli-logo-entry {
  margin-top: auto;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.entrypage-header {
  display: flex;
}



