
.StartPage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.PageContent {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100%;
  width: 33%;
  text-align: center;
  margin-right: 5rem;
}

.Title {
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20vh;
}

.OutletContainer {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

