.PostFooter {
  column-gap: 1rem;
  display: inline;
  display: flex;
  justify-content: left;
}

.PostButton {
  background: 0;
  color: rgba(26, 27, 29, 0.8);
  font-weight: bold;
  font-size: medium;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(26, 27, 29, 0.8);
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
}

.PostButton:hover {
  background-color: rgba(26, 27, 29, 0.5);
}

.Likes {
  display: inline-block;
}

.PostIcons {
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: auto;
}

.Replies, .Likes {
  color: rgba(26, 27, 29, 0.8);
}

.Likes:hover {
  color: rgba(158, 31, 101, 0.8);
}

.Replies:hover {
  color: rgba(26, 27, 29);
}