.ExplorePage {
  padding: 1rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
  border-top: 0;
  border-bottom: 0;
}

.ExploreContainer {
  display: flex; 
}

select {
  width: 30%;
  height: 10%;
  margin-top: auto;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}