
form {
  display: inline-block; 
  text-align: center;
  position: relative;
  width: 80%;
}

.StartPage {
  background-color: lightblue;
  display: flex;
  flex: 1;
  justify-content: center;
}

.LoginFormContainer {
  background-color: lightblue;
  display: flex;
  flex: 1;
  justify-content: center;
}

.field {
  display: block;
  margin: 0.2em;
  width: 100%;
}

.button {
  display: block;
  background: #161d20;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0.2em;
}

.divErr {
  color: red;
}

#row {
  min-height: 30%;
}