.PostHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#postUser {
  font-weight: bold;
}

#postUser:hover {
  text-decoration: underline;
}

#postDate {
  font-weight: 100;
}
