
.ExploreContainer {
  display: flex; 
  flex: 1;
  flex-direction: column;
}


.SearchArea {
  outline: none;
  border: 0;
  border-bottom: 2px;
  resize: none;
  width: 100%;
}

.SearchAreaContainer {
  border-bottom: 1px solid;
  border-color: #6c7b95;
  margin-bottom: 0.5em;
  text-align: left;
  display: flex;
  padding-top: 4rem;
}


