
.UserDetails {
  border: 1px solid;
  border-top: 0;
  padding: 1rem;
  padding-top: 2rem;
  border-color: rgba(108, 123, 149, 0.5);
}

.Name {
  font-weight: bold;
}

.UserName {
  font-weight: lighter;
}