
.UserDetails {
  border-bottom: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
}

.Name {
  font-weight: bold;
}

.UserName {
  font-weight: lighter;
}