.PostView {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  padding: 1rem;
  box-sizing: border-box;
  border-color: rgba(108, 123, 149, 0.5);
}

.PostView:hover {
  background-color: whitesmoke;
}


