
html *
{
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
  margin: 0;
}

.App {
  display: flex;
}

.RightPadding {
  display: flex;
  flex: 1;
}