
html *
{
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
  height: 100vh;
  margin: 0;
}


.App {
  display: flex;
  height: 100vh;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.MainContent {
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex: 1;
  border: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
  border-top: 0;
  border-bottom: 0;
}


.ExploreContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.RightPadding {
  display: flex;
  flex: 1;
}

