
html * {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  --grey-5: rgba(108, 123, 149, 0.5);
  --grey: rgb(108, 123, 149);
  --dark-grey: rgb(52, 56, 63);
}

body {
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  min-height: 100vh;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}



