
.LogRegButtons {
  text-align: center;
}

.Buttons {
  width: 6rem;
  height: 2.5rem;
  background: #161d20;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0.2em;
}