
.LogRegButtons {
  display: flex;
  padding: 1rem;
  padding-top: 5rem;
  width: 100%;
  justify-content: center;
}

.Buttons {
  display: block;
  background: #161d20;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0.2em;
}