.PostPage {
  box-sizing: border-box;
  height: max-content;
  min-height: 100vh;
  width: 40rem;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--grey-5);
  border-top: 0;
  border-bottom: 0;
}

.PostTitle {
  font-weight: bold;
  height: fit-content;
  padding-left: 1rem;
  display: inline-block;
}

.Msg {
  height: fit-content;
  margin-left: 3rem;
}

